#buscador {
  height:38px;
  margin-left:750px;
  margin-top:11px;
  padding:10px;
  width:250px;
  background-color:#B8B8B8;
  text-decoration: black;
}
#buscadorboton{
height:40px;
margin-top:-35px;
}

